{% extends "base.html" %}
{% block title %}Nova tarefa{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="mb-4">Nova tarefa</h2>

                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Título</label>
                        <input type="text" name="titulo" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Descrição</label>
                        <textarea name="descricao" class="form-control" rows="4"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="status" class="form-select">
                            <option>Pendente</option>
                            <option>Em andamento</option>
                            <option>Concluída</option>
                        </select>
                    </div>

                    <button class="btn btn-primary">Salvar</button>
                    <a href="{{ url_for('tarefas.dashboard') }}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
